body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  overflow-x: hidden;
  background-color: #ddd;
  color: #e5e5e5;
}
body::-webkit-scrollbar {
  width: 0px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 85vh;
  width: 80vw;
  gap: 15px;
  background-color: #3f7daf;
  border-radius: 30px;
  box-shadow: 4px 4px 12px #000000ad;
  overflow: hidden;
}

.layer1 {
  display: flex;
  padding: 22px 30px;
  position: relative;
  z-index: 2;
  gap: 20px;
  height: 35%;
  width: 100%;
  background-color: #003D69;
  border-radius: 0 0 45px 45px;
  box-shadow: 0px 6px 12px #000000ad;
}

.notificacao {
  position: absolute;
  z-index: 3;
  top: 25px;
  right: 30px;
  width: 36px;
  height: 36px;
  cursor: pointer;
}

.perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.perfil h2 {
  font-size: 22px;
  font-weight: 500;
}
.perfil h3 {
  font-size: 15px;
  font-weight: 500;
  position: relative;
  top: -8px;
}

.perfil-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.foto-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 140px;
  height: 140px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border: 6px solid #ffffff5c;
  box-shadow: 3px 3px 10px rgb(0 0 0 / 70%);
}

.foto-perfil {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.icone-camera {
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 6px 0;
  background-color: #2d2d2db5;
  cursor: pointer;
}
.icone-camera img {
  width: 20px;
  height: 20px;
}

input[type="file"] {
  display: none;
}

.info{
  display: flex;
  flex-direction: column;
  padding: 18px 0;
  gap: 4px;
}
.info-row {
  display: flex;
  align-items: center;
  gap: 8px;
}
.info .info-label {
  font-size: 18px;
}
.info span {
  font-size: 16px;
}


.layer2 {
  position: relative;
  z-index: 1;
  transform: translateX(-150%);
  opacity: 0;
  animation: slideIn 1s ease forwards;
}


footer {
  background-color: #161616c9;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0px 10px;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}
.footer-info p {
  color: #ffffff;
  margin: 5px 0;
}


@keyframes slideIn {
  0% {
    transform: translateX(-150%);
    opacity: 0;
    width: 0px;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
    width: 410px;
  }
}
