body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  overflow-x: hidden;
  color: #e5e5e5;
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('../img/s1.png'), url('../img/s2.png'), url('../img/s3.png');
  background-repeat: repeat-y;
  background-size: 100%, 100%;
  animation: falling 10s linear infinite;
}
@keyframes falling {
  0% {
    background-position-y: 0px, 0px;
  }
  100% {
    background-position-y: 1000px, 500px;
  }
}
body::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(0deg, rgba(175, 175, 175, 0.7) 0%, rgba(0, 0, 0, 0.5) 100%);
}
body::-webkit-scrollbar {
  width: 0px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 95vh;
  width: 95vw;
  gap: 15px;
  background-color: #8ca6ffb0;
  border-radius: 30px;
  box-shadow: 4px 4px 12px #000000ad;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  padding: 15px;
  max-width: 400px;
  width: 100%;
  height: 100%;
}

.register-wrapper {
  background-color: whitesmoke;
  width: 100%;
  padding: 15px 30px;
  overflow-x: hidden;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 45%);
}

.register-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 80px;
  border-radius: 50%;
}

.register-title {
  position: relative;
  top: -5px;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 600;
  color: #333;
}

.register-form .form-group {
  margin-bottom: 10px;
}

.form-label {
  display: block;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 2px;
  color: #333;
}

.form-input {
  width: 105%;
  padding: 4px 10px;
  margin-left: -8px;
  color: #333;
  font-size: 15px;
  border: 5px solid #e5ebf6;
  border-radius: 10px;
  background: #e8f0fe;
  transition: all 0.3s;
}

.form-input:focus {
  border-color: rgba(0, 123, 255, 0.4);
  outline: none;
}

.register-button {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.5s;
}

.register-button:hover {
  background-color: #003366;
  transform: scale(1.05);
}

.form-footer {
  text-align: center;
  margin-top: 15px;
}

.login-link {
  font-size: 14px;
  color: #007bff;
  text-decoration: none;
  transition: all 0.7s;
}

.login-link:hover {
  text-decoration: underline;
}

.error-message {
  color: red;
  font-size: 12px;
}